<?xml version="1.0" encoding="utf-8"?>
<packages>
  <!-- 
  For compatibility across different PowerShell versions, the WebView2 package should target the frameworks net462 for Windows PowerShell 5.1 (classic .NET Framework) 
  and netcoreapp3.0 for PowerShell7 (.net core). net6.0 or newer can be used for PowerShell 7.2+ and later, but netcoreapp3.0 ensures the broadest compatibility.
  
  The 'Import-assemblies.ps1' script loads the appropriate assembly at runtime.
  -->
  <package id="Microsoft.Web.WebView2" version="1.0.3296.44"/> 
</packages>